* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #828382;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

body {
    color: var(--bg-color);
    background: var(--body-color);
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(87, 87, 87, 0.472);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav ul li a{
    text-transform: capitalize;
}

.nav-link {
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}

.nav-link:hover {
    color: var(--main-color);
    background: rgba(245, 245, 245, 0.918);
    transition: 0.3s all linear;
}

.menu-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

/* ************** */

.home {
    min-height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 18px;
}

.home-img {
    width: 400px;
    margin-left: 6rem;
    transform: rotate(351deg);
    display: flex;
    align-items: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h3 {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.home-text h3::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    height: 2px;
    width: 20px;
    background-color: var(--main-color);
}

.home-text h3::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    height: 2px;
    width: 20px;
    background-color: var(--main-color);
}

.home-text h2 {
    font-size: 3.5rem;
    line-height: 4.8rem;
}

.home-text p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.home-text .color {
    color: var(--main-color);
}

.social {
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
    font-size: 28px;
    justify-content: space-evenly;
    margin-right: 8px;
}

.social i:hover {
    transform: scale(1.5);
}
.social a i{
    background: transparent;
}

.social,.icons , .fa-facebook {
    color: #3b5998;
}

.social,.icons, .fa-twitter {
    color: #1da1f2;
}

.social,.icons, .fa-linkedin {
    color: #0077b5;
}

.social,.icons ,.fa-whatsapp {
    color: #25d366;
}

.social,.icons ,.fa-instagram {
    color: white;
}

.social,.icons ,.fa-github {
    color: purple;
}

.heading {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.anout-data span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.about-content h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

.btn {
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--bg-color);
    background-color: #4c5fcd;
    padding: 10px 14px;
    border-radius: 4px;
}

.btn .fa-download {
    font-size: 1.2rem;
}

.btn:hover {
    background: #3f5cff;
    transition: 0.3s all linear;
    transform: scale(1.1);
    box-shadow: 1px 0px 40px 1px rgb(92, 165, 255);
}

.about-text p {
    font-size: 0.938rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* ************************************ */

.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background: var(--container-color);
    border-radius: 0.4rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 110%;
}

.services-box:hover {
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 0px 40px 10px rgb(255, 255, 255);
    background-color: transparent;
}

.services-box .fa {
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 10px;
    border-radius: 5rem;
    border: 2px dashed var(--bg-color);
}

.services-box h2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: var(--main-color);
}

.services-box p {
    font-size: 0.9rem;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
}

.portfolio-box {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 14px 8px rgb(1, 160, 175) ;

}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.min-widths {
    width: 80%;
    margin: auto;
}

.portfolio-overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(234, 45%, 16%, 0.7);
}

.portfolio-overlay h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.portfolio-overlay .fa {
    font-size: 24px;
    padding: 10px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
}

.portfolio-overlay .fa:hover {
    background: #546eff;
    transition: 0.3s all linear;
}

.portfolio-box:hover .portfolio-overlay {
    top: 0;
    transition: 0.5s all ease;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 1.5rem;
}

.project-box {
    padding: 20px 10px;
    background: var(--container-color);
    border-radius: 0.4rem;
    text-align: center;
}

.project-box h2 {
    font-size: 1.2rem;
}

.project-box span {
    font-size: 1.2rem;
}

/* ************************************************************************************************* */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

.slider {
    margin-bottom: 30px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    color: #fff;
    box-shadow: 0px 0px 10px 8px rgb(238, 239, 239) ;

}

.slider-card {
    background: transparent;
    padding: 0px 0px;
    margin: 50px 15px 35px 15px;
    border-radius: 5px;
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.slider-card img {
    border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}

.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
}

.owl-dots .owl-dot.active {
    background: #f44336 !important;
}

.mb-4>img {
    height: 250px;
}

.containers {
    max-width: 160rem;
    margin: 0 auto;
    padding: 1.5rem;
}


/* *****************/

.review-box {
    background: linear-gradient(240deg, #4b6cb7 0%,rgb(120, 120, 117), #0e1c38 100%,black 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 36vh;
    justify-content: space-evenly;    
}

.review-box .fa {
    font-size: 2rem;
    color: var(--main-color);
    margin: bottom 0.5rem;
}

.review-box .review-text {
    font-size: 0.89rem;
    margin-bottom: 1rem;
}

.review{
    display: flex;
}

.review-profile {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.review-profile span {
    font-size: 0.84rem;
    margin: 0.5rem, 0, 0.7rem;

}
.name{
    display: flex;
    flex-direction:column;
    justify-content: start;
    gap: 2px;
}
.name span{
    display: flex;
    justify-content: flex-start;
}
.review-profile > img {
    height: 60px;
    width: fit-content;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    object-fit: contain;
}

/* ********************** */
.contact .row{
    display: flex;

}
.contact-left{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    width: max-content;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 30px;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
   color:#ebf0f8; 
   margin-right: 25px;
   font-size: 25px;
}
.contact-left > .social{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    /* padding: 4px; */

}
.contact-right form{
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: #262626;
    font-size: 18px;
    border-radius: 6px;
}

form .btn{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: larger;
}

/* *************************** */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #181D31;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-size: 28px;
}
.footer p{
    color: #fff;
}
.icons{
   display: flex;
    justify-content: center;
    padding: 10px;
    gap: 40px;
}

.fa-heart-o{
    color: #ff1100;
}